[Unit]
Description=My Go Application
After=network.target

[Service]
User=laborant
ExecStart=/home/laborant/myapp
Restart=always

[Install]
WantedBy=multi-user.target
